.academicaD{
    height: 170px;
    width: 520px;
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--colorTexto);
    border-radius: 35px;
    position: relative;
    right: -620px;
}

@media screen and (max-width: 900px) {
    .academicaD{
        width: 100%;
        right: 0;
        margin-bottom: 1rem;
    }
}