.descripcionE{
    width: 30%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@media screen and (max-width: 900px) {
    .descripcionE{
        width: 100%;
        height: 200px;
    }
}