.formacion{
    height: 860px;
    background-color: var(--colorFondoTerceario);
    padding-left: 8rem;
    padding-right: 8rem;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    .formacion{
        height: 1000px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}