.sobreMi{
    padding-right: var(--paddingLados);
    padding-left: var(--paddingLados);
    box-sizing: border-box;
    background-color: var(--colorPrincipal);
    display: flex;
    padding-top: 2rem;
    height: 620px;
}



@media screen and (max-width: 768px) {
    .sobreMi{
        flex-direction: column;
        height: 1300px;
    }
}