.informacion__profesion{
    font-size: var(--tituloPequeño);
    width: 350px;
    font-family: Roboto, cursive;
    font-style: italic;
    font-weight: 200;
}


@media screen and (max-width: 768px) {
    .informacion__profesion{
        text-align: center;
    }
}